In [5]:
# pandas i# Pandas is a library in Python used for data manipulation and analysis, primarily focused on tabular data.
import pandas as pd

In [6]:
# creating data frame using dictionary
data = {
    'nama' : ['Andi', 'Budi', 'Caca', 'Sintia', 'Dafina'],
    'umur' : [22, 23, 30, 22, 22],
    'kota' : ['Jakarta', 'Palembang', 'Surabaya', 'Palembang', 'Jakarta']
}

In [7]:
df1 = pd.DataFrame(data)

In [8]:
print (df1)

     nama  umur       kota
0    Andi    22    Jakarta
1    Budi    23  Palembang
2    Caca    30   Surabaya
3  Sintia    22  Palembang
4  Dafina    22    Jakarta

MERGE ( )

In [9]:
# merges dataframe
df2 = pd.DataFrame({
    'nama' : ['Andi', 'Budi', 'Caca', 'Sintia', 'Dafina'],
    'ID' : [1, 2, 3, 4, 5]

})

df_merged = pd.merge(df1, df2, on = 'nama', how = 'inner')
print (df_merged)

     nama  umur       kota  ID
0    Andi    22    Jakarta   1
1    Budi    23  Palembang   2
2    Caca    30   Surabaya   3
3  Sintia    22  Palembang   4
4  Dafina    22    Jakarta   5

JOIN ( )

In [10]:
# combining by index
df1 = pd.DataFrame({'nama' : ['Andi', 'Budi', 'Caca', 'Sintia', 'Dafina']}, index = [1, 2, 3, 4, 5])
df2 = pd.DataFrame({'ID' : [1, 2, 3, 4, 5]}, index = [2, 3, 4, 5, 6])

# using syntax join
df_joined = df1.join(df2, how="left")
print(df_joined)

     nama   ID
1    Andi  NaN
2    Budi  1.0
3    Caca  2.0
4  Sintia  3.0
5  Dafina  4.0

CONCAT ( )

In [11]:
# merges dataframe horizontally
df1 = pd.DataFrame({'nama' : ['Andi', 'Budi'],  'umur' : [22, 23]})
df2 = pd.DataFrame({'nama' : ['Caca', 'Sintia'],  'umur' : [30, 22]})

df_concat = pd.concat([df1, df2], axis = 1)
print (df_concat)

   nama  umur    nama  umur
0  Andi    22    Caca    30
1  Budi    23  Sintia    22

In [12]:
# merges dataframe vertically
df1 = pd.DataFrame({'nama' : ['Andi', 'Budi'],  'umur' : [22, 23]})
df2 = pd.DataFrame({'nama' : ['Caca', 'Sintia'],  'umur' : [30, 22]})

df_concat = pd.concat([df1, df2], ignore_index=True)
print(df_concat)

     nama  umur
0    Andi    22
1    Budi    23
2    Caca    30
3  Sintia    22

In [13]:
print (df_merged)

     nama  umur       kota  ID
0    Andi    22    Jakarta   1
1    Budi    23  Palembang   2
2    Caca    30   Surabaya   3
3  Sintia    22  Palembang   4
4  Dafina    22    Jakarta   5

In [14]:
# find the largest data
umur_max = df_merged['umur'].max()
print ('umur terbesar : ', umur_max)

umur terbesar :  30

In [15]:
# find the smallest data
umur_min = df_merged['umur'].min()
print ('umur terkecil : ', umur_min)

umur terkecil :  22

In [17]:
# find the largest and smallest amount of databased on the column name
baris_max = df_merged['umur'].idxmax()
print ('baris dengan umur terbesar : ', baris_max)

baris_min = df_merged['umur'].idxmin()
print ('baris dengan umur terkecil : ', baris_min)

baris dengan umur terbesar :  2
baris dengan umur terkecil :  0

In [18]:
# find the spesific full data of the column name
baris_data = df_merged.loc[baris_max]
print ('data dengan umur terbesar : ')
print (baris_data)
print ('\n')
baris_data = df_merged.loc[baris_min]
print ('data dengan umur terkecil :')
print (baris_data)

data dengan umur terbesar :
nama        Caca
umur          30
kota    Surabaya
ID             3
Name: 2, dtype: object


data dengan umur terkecil :
nama       Andi
umur         22
kota    Jakarta
ID            1
Name: 0, dtype: object

In [19]:
# displays all spesific rows of data searched by column name
baris_min_all = df_merged.loc[df_merged['umur'] == umur_min]
print (baris_min_all)

     nama  umur       kota  ID
0    Andi    22    Jakarta   1
3  Sintia    22  Palembang   4
4  Dafina    22    Jakarta   5

In [20]:
# find the number of occurences
umur_counts = df_merged['umur'].value_counts()
print ('jumlah kemunculan setiap umur : ')
print (umur_counts)

jumlah kemunculan setiap umur :
umur
22    3
23    1
30    1
Name: count, dtype: int64

In [21]:
# mean
rata_rata = df_merged['umur'].mean()
print (rata_rata)

23.8

In [28]:
# filtering data to people whose age is 22 years old
nama_umur_22 = df_merged[df_merged['umur'] == 22]['nama']
print (nama_umur_22)

# displays the number of people aged 22 years
jumlah_umur_22 = len(nama_umur_22)
print(f"\nJumlah orang yang berumur 22 tahun : {jumlah_umur_22} orang")

0      Andi
3    Sintia
4    Dafina
Name: nama, dtype: object

Jumlah orang yang berumur 22 tahun : 3 orang